
<div>

  <div class="list-group">

                <button type="button"  #artista (click)="cambiar('conciertos')" class="list-group-item list-group-item-action"><h4>CONCIERTO</h4></button>
               </div>
</div>
<div>

  <div class="list-group">

                <button type="button"  #artista (click)="cambiar('clasicas')" class="list-group-item list-group-item-action"><h4>CLASICAS</h4></button>
               </div>
</div>
<div>

  <div class="list-group">

                <button type="button"  #artista (click)="cambiar('huapangos')" class="list-group-item list-group-item-action"><h4>HUAPANGOS</h4></button>
               </div>
</div>
<div>

  <div class="list-group">

                <button type="button"  #artista (click)="cambiar('sones')" class="list-group-item list-group-item-action"><h4>SONES</h4></button>
               </div>
</div>

<div>

  <div class="list-group">

                <button type="button"  #artista (click)="cambiar('polkas')" class="list-group-item list-group-item-action"><h4>POLKAS</h4></button>
               </div>
</div>

<div>

  <div class="list-group">

                <button type="button"  #artista (click)="cambiar('vicentes')"  class="list-group-item list-group-item-action"><h4>VICENTE FERNANDEZ</h4></button>
               </div>
</div>

<div>

  <div class="list-group">

                <button type="button"  #artista (click)="cambiar('alejandros')" class="list-group-item list-group-item-action"><h4>ALEJANDRO FERNANDEZ</h4></button>
               </div>
</div>


<div>

  <div class="list-group">

                <button type="button"  #artista (click)="cambiar('juangas')" class="list-group-item list-group-item-action"><h4>JUAN GABRIEL</h4></button>
               </div>
</div>


<div>

  <div class="list-group">

                <button type="button"  #artista (click)="cambiar('javiers')" class="list-group-item list-group-item-action"><h4>JAVIER SOLIS</h4></button>
               </div>
</div>


<div>

  <div class="list-group">

                <button type="button"  #artista (click)="cambiar('josealfredos')" class="list-group-item list-group-item-action"><h4>JOSE A. JIMENEZ</h4></button>
               </div>
</div>
<div>

  <div class="list-group">

                <button type="button"  #artista (click)="cambiar('varios')" class="list-group-item list-group-item-action"><h4>VARIOS</h4></button>
               </div>
</div>
